body {
  background-color: #003;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #0000889f;
  flex-grow: 1;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-basis: 200px;
}
input {
  background-color: #0000aaa0;
  flex-grow: 1;
  padding: 5px 10px;
  border: none;
  outline: none;
  width: 200px;
  color: white;
}
form button {
  background-color: #14a;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  flex-basis: 30px;
  flex-grow: 1;
}
